<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
<!--        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/ecomwebapp?useUnicode=true&amp;createDatabaseIfNotExist=true&amp;characterEncoding=utf-8</property>-->
<!--        <property name="hibernate.connection.username">root</property>-->
<!--        <property name="hibernate.connection.password">20021223</property>-->

        <!--        Database online -->
        <property name="hibernate.connection.url">jdbc:mysql://avnadmin:AVNS_IC3GCTi7EhVoibAb-Si@mysql-3d1e2093-anhma2720-4cfe.aivencloud.com:13255/defaultdb?useUnicode=true&amp;createDatabaseIfNotExist=true&amp;characterEncoding=utf-8;ssl-mode=REQUIRED</property>
        <property name="hibernate.connection.username">avnadmin</property>
        <property name="hibernate.connection.password">AVNS_IC3GCTi7EhVoibAb-Si</property>

        <property name="hibernate.show_sql">true</property>
        <!-- SQL dialect -->
        <property name="dialect">org.hibernate.dialect.MySQL8Dialect</property>

        <property name="hibernate.connection.CharSet">utf8</property>
        <property name="hibernate.connection.characterEncoding">utf8</property>
        <property name="hibernate.connection.useUnicode">true</property>
        <!-- Disable the second-level cache -->
        <property name="cache.provider_class">org.hibernate.cache.internal.NoCachingRegionFactory</property>
        <property name="hbm2ddl.auto">update</property>

        <mapping class="com.it.design_pattern_furniture_web.models.entities.Category"/>
        <mapping class="com.it.design_pattern_furniture_web.models.entities.Brand"/>
        <mapping class="com.it.design_pattern_furniture_web.models.entities.Order"/>
        <mapping class="com.it.design_pattern_furniture_web.models.entities.OrderItem"/>
        <mapping class="com.it.design_pattern_furniture_web.models.entities.Product"/>
        <mapping class="com.it.design_pattern_furniture_web.models.entities.ProductImage"/>
        <mapping class="com.it.design_pattern_furniture_web.models.entities.User"/>
        <mapping class="com.it.design_pattern_furniture_web.models.entities.Review"/>
        <mapping class="com.it.design_pattern_furniture_web.models.entities.ReviewItem"/>
        <mapping class="com.it.design_pattern_furniture_web.models.entities.Discount"/>
        <mapping class="com.it.design_pattern_furniture_web.models.entities.CartItem"/>
        <mapping class="com.it.design_pattern_furniture_web.models.entities.Cart"/>
        <mapping class="com.it.design_pattern_furniture_web.models.entities.Role"/>
        <mapping class="com.it.design_pattern_furniture_web.models.entities.UserRole"/>
        <mapping class="com.it.design_pattern_furniture_web.models.entities.WishItem"/>
        <mapping class="com.it.design_pattern_furniture_web.models.entities.WishList"/>
        <mapping class="com.it.design_pattern_furniture_web.models.entities.MailConfirmToken"/>

    </session-factory>
</hibernate-configuration>